*{padding:0;margin:0}
/*모바일*/
@media(max-width:600px){
    body {
  font-family: 'Jua', sans-serif;font-size:2.5vw
  }
  ul li{float:left;line-height:10vh;
    width:calc(100vw / 3.5);text-align:center;
    list-style-type:none}
}
/*컴퓨터용*/
@media(min-width:601px) {
      body {
  font-family: 'Jua', sans-serif;font-size:1vw
  }
  ul li{float:left;line-height:10vh;
    width:calc(100vw / 3.08);text-align:center;
    list-style-type:none}
}
#header {height:20vh;background:#7B68EE}
#header h1{height:20vh;text-align: center;color:aqua;line-height:20vh}
ul{background:rgba(20, 80, 120, 0.5);height:10vh}

hr{border-color:rgba(3, 116, 145, 0.5);border-width: 0.2rem;}    
nav{margin-bottom:0.5rem}
ul li:hover{
    position:relative;
    left:-2px;
    top:2px;
    cursor:pointer;
}
#close{cursor:pointer}
#main_img{height:70vh;text-align:center;}
.train_img img{width:23vw;height:20vh; border:1px solid black;border-radius:0.5rem;}